
.score{
  border:1px solid #000;
  display:flex;
  text-align:center;
  align-items: center;
  justify-content: center;
  width:50px;
  height:50px;
  margin-right:4px;
  border-radius: 60px;
}

.shiaijo{
  border: 1px solid #f00;
  cursor: pointer;
}

.table-hover{
  cursor: pointer;
}

.match-table{
  font-size: 200%;
  white-space: nowrap;
}

a{
  color:#000
}

a.active{
  font-weight: bold;
}

.canvas-wrapper-grid{
  cursor: pointer;
  width:50%;
  border:3px solid #000;
}
.canvas-wrapper-grid:hover{
  border-color: #f00;
} 

.canvas-wrapper-full{
  width:100%;
  height:100%;
  border:1px solid #000;
}

.row-auto{
  width:20%;
}

html, body, #root {
  height:100%;
  margin:0;
}

.bg-black{
  background: #000;
}