
.score{
  border:1px solid #000;
  display:flex;
  text-align:center;
  align-items: center;
  justify-content: center;
  width:40px;
  height:40px;
  margin-right:4px;
  border-radius: 60px;
}
.hansoku, .hikiwake{
  display:flex;
  text-align:center;
  align-items: center;
  justify-content: center;
  width:40px;
  height:40px;
  margin-right:4px;
  font-size:30px;
  color:#f00;
}
.hikiwake{
  color:#000;
}

.shiaijo{
  border: 1px solid #f00;
  cursor: pointer;
}

.table-hover{
  cursor: pointer;
}

.match-table{
  white-space: nowrap;
}
.match-table td{
  vertical-align: center;
}

a{
  color:#000
}

a.active{
  font-weight: bold;
}

.canvas-wrapper-grid{
  cursor: pointer;
  width:50%;
  border:3px solid #000;
}
.canvas-wrapper-grid:hover{
  border-color: #f00;
} 

.canvas-wrapper-full{
  width:100%;
  height:100%;
  border:1px solid #000;
}

.row-auto{
  width:20%;
}

html, body, #root {
  height:100%;
  margin:0;
}

.bg-black{
  background: #000;
}
.event-log{
  height:150px;
}

.score-td{
  width:150px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.points-td{
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}